
Django>=5.0
djangorestframework==3.15.2
psycopg2-binary
Pillow==10.4.0
django-filter
djangorestframework-simplejwt
django-cors-headers
channels
channels-redis
numpy==1.26.4
pytz==2022.1
gunicorn
whitenoise
dj-database-url
python-dotenv
cloudinary==1.40.0

