{% extends 'base.html' %}
{% load static %}
{% block title %}News • SportsHub{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="section-heading"><div class="bar"></div><h2 class="h4 m-0">News & Updates</h2></div>

    <div class="row g-4">
      <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
          <img src="{% static 'img/news1.jpg' %}" class="card-img-top" alt="Cricket">
          <div class="card-body">
            <h5 class="card-title">New Season of Single Wicket Cricket in Tampere Starts Soon!</h5>
            <p class="card-text text-secondary">Get ready for fresh challenges, improved ratings, and more grounds.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
          <img src="{% static 'img/ground2.jpg' %}" class="card-img-top" alt="Grounds">
          <div class="card-body">
            <h5 class="card-title">More Grounds Added</h5>
            <p class="card-text text-secondary">We are expanding available venues to make matches easier to arrange.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100">
          <img src="{% static 'img/hero.jpg' %}" class="card-img-top" alt="Community">
          <div class="card-body">
            <h5 class="card-title">Community Spotlight</h5>
            <p class="card-text text-secondary">Meet top performers and contributors from the Tampere cricket scene.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}